*{ margin:0; padding:0;}
body{ font-family:'微软雅黑';color:#666;font-size:12px; min-width:1273px;} 
html{width:100%;  height:100%;}
ul,li{ list-style-type:none;}
li{ vertical-align:bottom;}
a{ text-decoration:none; color:#666;}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,b,u,i,dl,dt,dd,ul,li,input,table,tr,td{margin:0;padding:0;}
input,select{vertical-align:middle;border:none; font-family:'微软雅黑'; color:#666;}
ol,ul,li{list-style:none; vertical-align:middle;}
a img{border:0;}
.clearfix:after{content:".";display:block;height:0; clear:both;visibility:hidden;}
img{vertical-align:middle;border:none;}
em{font-style:normal;}
p span{ overflow:hidden;}
.footer{ width:100%; min-width:1273px;}




.fl{ float: left;}
.fr{ float: right;}
.HTML-con{ width: 1200px; margin: auto;}
.body-bg{ width: 100%; background: #fafafa; padding-bottom: 35px;}


.header-top{ width: 100%; height: 36px; background: #f5f5f5; border-bottom: solid 1px #e8e8e8;}
.header-top .weixin{ cursor: pointer; background: url(../Images/sanjiao2.png) right center no-repeat; padding-right: 15px; position: relative; width: 100px;}
.header-top .weixin span{ display: block; background: url(../Images/weixin.png) left center no-repeat; color: #888; line-height: 36px; padding-left: 27px;}
.header-top .weixin .weixin-hover{ position: absolute; background: #fff; border: solid 1px #bbb; background: #fff; padding: 10px; display: none; border-top: none;}
.header-top .weixin:hover .weixin-hover{ display: block; }
.header-top .header-list{ line-height: 36px; height:30px;}
.header-top .header-list > a{ padding: 0 10px; border-right: solid 1px #888; font-size: 14px; color: #888; height: 14px; display: inline-block; line-height: 14px;}
.header-top .header-list a:last-child{ border-right: none; padding-right: 0;}

.header{ height: 125px}
.header h1.logo{ margin-top: 28px;}
.header .search{ width: 598px; margin-top: 37px;}
.header .search .txt{ width:486px ; height:46px ; border: solid 1px #bbb; border-right: none; text-indent: 14px; color: #bbb; font-size: 16px; float: left;}
.header .search .search-but{ width: 110px; height: 48px; background: #252885 url(../Images/search.png) 23% center no-repeat; float: left; font-size: 16px; color: #fff; text-indent:22px; cursor: pointer;}

.nav{ width:1200px ; height:48px ; background: #252885; margin:auto; position: relative;}
.nav li{ float: left; width:200px; text-align: center; position: relative; z-index: 1;}
.nav li a{ line-height: 48px; color: #fff; font-size: 18px}
.move-bg{ display:none; position:absolute; left:0; top:0; width:200px; height:48px; background:#ff8c14; z-index:0;}
.nav li.nav-list{ background: url(../Images/sanjiao.png) 74% center no-repeat;}
.nav li .sub_nav{ position: absolute; width: 200px; background: #ff8c14; border-top: dashed 1px #fff; display: none;}
.nav li .sub_nav a{ display: block; font-size: 14px; line-height: 40px;}
.nav li .sub_nav a:hover{ font-weight: bold;}
.nav li:hover .sub_nav{ display: block;}

.nav li .sub_nav2{ position: absolute; width: 200px; background: #ff8c14; border-top: dashed 1px #fff; display: none;}
.nav li .sub_nav2 a{ display: block; font-size: 14px; line-height: 40px;}
.nav li .sub_nav2 a:hover{ font-weight: bold;}
.nav li:hover .sub_nav2{ display: block;}


/*index-banner*/
.banner-box{ margin-top: 20px;}
.banner-l{ width: 212px;}
.banner-l li{ height: 60px; width: 212px; background: #eeeef5; margin-bottom:5px;}
.banner-l li a{ line-height: 60px; font-size: 18px;}
.banner-l li b{ width: 18px; height:18px ; display: block; float: left; margin: 22px;background: url(../Images/icon.png) no-repeat; }
.banner-l li:hover{ background: #252885 url(../Images/jiantou.png) 90% center no-repeat;}
.banner-l li:hover a{ color: #fff;}
.banner-l li.icon1 b{ background-position:  0 0 ;}
.banner-l li.icon1:hover b{ background-position: -23px 0;}
.banner-l li.icon2 b{ background-position:  0 -28px ;}
.banner-l li.icon2:hover b{ background-position: -23px -28px;}
.banner-l li.icon3 b{ background-position:  0 -57px ;}
.banner-l li.icon3:hover b{ background-position: -23px -57px;}
.banner-l li.icon4 b{ background-position:  0 -86px ;}
.banner-l li.icon4:hover b{ background-position: -23px -86px;}
.banner-l li.icon5 b{ background-position:  0 -115px ;}
.banner-l li.icon5:hover b{ background-position: -23px -115px;}
.banner-l li.icon6 b{ background-position:  0 -145px ;}
.banner-l li.icon6:hover b{ background-position: -23px -145px;}
#playBox{ width: 968px; height: 385px; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:28px; height:62px; background:url(../Images/banner-bnt.png) 0 0 no-repeat; position:absolute; top:160px; z-index:10;}
#playBox .next{ cursor:pointer; width:28px; height:62px; background:url(../Images/banner-bnt.png) -28px 0 no-repeat; position:absolute; top:160px; right:0; z-index:10;}
#playBox .smalltitle { height:21px; position:absolute; bottom:10px; z-index:10;background-color:#000; filter:alpha(opacity=30); opacity:0.3; padding: 0 9px 0 4px ; border-radius: 15px; text-align: center; left: 40%;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 0 0 5px; border-radius:10px; background:#fff; display: inline-block; border: solid 2px #fff; }
#playBox .smalltitle .thistitle{ border: solid 2px #fff; background: none;}
.request-process{ margin-top: 58px;}
.request-process .tit,.tab-c-con .tit,.user-r .tit,.school-paiming .tit{ font-size: 20px; color: #333; border-left: solid 4px #252885; padding-left: 10px; height: 19px; line-height: 19px;}
.request-process .process-img{ width: 1273px; margin:32px auto;}

/*页脚*/
.footer-top{ width: 100%; background: #f5f5f5; padding: 55px 0;}
.footer-top .lx{ width: 200px; background: url(../Images/icon-lx.png) no-repeat; padding-left: 103px;}
.footer-top .lx b{ display: block; font-size: 16px; color: #333; margin-bottom: 6px;}
.footer-top .lx span{ display: block; margin-top: 10px;}
/* .footer-top .erweima{width:280px;padding-left: 15px;} */
.footer-top .erweima{width:284px;padding-left: 15px;}
.footer-top .erweima dt{ float: left;}
/* .footer-top .erweima dd{ float: left; margin-left: 20px;} */
.footer-top .erweima dd{ float: left; margin-left: 15px;}
.footer-top .erweima dd h3{ font-size: 16px; color: #333;}
.footer-top .erweima dd span{ display: block; margin-top: 14px;}
.footer-top .erweima dd a{ margin-top: 10px; display: block;}
.footer-top .erweima dd a.bg{ background: #252885; padding:4px 12px; color: #fff; display: inline-block;}
.footer-bottom{ width: 100%; height:44px ; background:#252885; }
.footer-bottom p{ line-height: 44px; color: #fff;}


.footer-top .xinjiade dd a{margin-top: 5px;}

/*注册*/
.login-header{ height: 107px}
.login-header h1{ margin-top: 22px;}
.login-header span{ display: block; width: 202px; height: 39px; background: #ff8c14; text-align: center; color: #fff; font-size: 18px; line-height: 39px; margin-top: 49px;}
.login-header span a{ color: #fff;}
.login-con{ width:1200px ; margin:auto; background: #fff; padding: 42px 0;}
.logincon-l{ width: 579px;}
.logincon-l img.erweima{ width:170px ; height: 170px; padding:14px ; border:solid 1px #dcdcdc; margin:68px auto 0; display: block;}
.logincon-l span{ display: block; text-align: center; font-size: 14px; color: #2f71eb; margin-top: 28px;}
.logincon-r{ width: 618px; border-left: solid 1px #e5e5e5;}
.login-input{ width: 360px; margin: auto; padding: 32px 0 15px 0;}
.login-input h3{ font-size: 20px; color: #666; font-weight: normal; margin-bottom: 30px;}
.login-input div{ margin-bottom: 20px;}
.login-input .txt{ width: 358px; height: 42px; border:solid 1px #e5e5e5; font-size: 14px; color: #999; text-indent: 10px;}
.login-input .iphon{ background: url(../Images/login-1.jpg) 96% center no-repeat;}
.login-input .mima{ background: url(../Images/login-2.jpg) 96% center no-repeat;}
.login-input .yzm{ width: 259px; float: left;}
.login-input a.yzm-hq{ width:86px ; height: 42px; border: solid 1px #e5e5e5; line-height: 42px; font-size: 14px; color: #999; text-align: center;}
.login-input div > a{ font-size: 14px; color: #2f71eb;}
.login-but{ width:359px ; height:44px ; background: #252885; font-size: 16px; color: #fff; cursor: pointer; margin-top: 15px;}
.login-footer{ margin-top: 40px;}
.login-footer p{ text-align: center; font-size: 14px;}
.logincon-l img.img{ display: block; margin:15px auto 0;}
.login-tab em{ padding: 0 48px; font-size: 20px; display:block; float: left; line-height: 58px; border-bottom: solid 1px #e5e5e5; cursor: pointer;}
.login-tab em.cur{ border-bottom: solid 2px #252885; line-height: 57px;}
.login-input .jizhu span{ display: block; font-size: 14px;}
.login-input .jizhu span > input{ margin-right: 4px;}
.login-input .jizhu a{ font-size: 14px; color: #666;}
.denglu-box { display: none; margin-bottom: 0; margin-top: 50px;}
.denglu-box .erweima{ width:170px ; height: 170px; display: block; margin:0 auto 0;padding:14px ; border:solid 1px #dcdcdc;}
.denglu-box > span{ text-align: center; display: block; margin-top: 8px; font-size: 14px;}
.login-input .denglu-box > a{ display: block; text-align: center; margin-top: 5px; color: #666; font-size: 12px;}

.logincon-l .shuoming{ display: block; text-align: center; font-size: 14px; color: #666; margin-top: 28px;}
.logincon-l .shuoming a{  color: #2f71eb; text-decoration:underline}

.user-bottom{ border-bottom: solid 2px #252885;}
/*登录后*/
.header-list .denglu-h{ float: left; cursor: pointer; background: url(../Images/sanjiao2.png) 90% center no-repeat; width: 149px; position: relative; border-left: 1px solid #f5f5f5; border-right: solid 1px #f5f5f5;}
.header-list .denglu-h img{ width:23px ; height: 23px; border: solid 1px #e5e5e5; margin-left: 19px; margin-top: -5px;}
.header-list .denglu-h span{ font-size: 14px; color: #252885; margin-left:8px; }
.header-list .denglu-hover{ width: 149px; border-left: solid 1px #bbb; border-right: solid 1px #bbb; background: #fff; border-bottom: solid 1px #bbb;position: absolute; top:38px; display: none; left: -1px;z-index: 99;}
.header-list .denglu-hover a{ display: block; text-indent: 56px; font-size: 14px; color: #999;}
.header-list .denglu-h:hover .denglu-hover{ display: block;}
.header-list .denglu-h:hover{ background: #fff url(../Images/sanjiao2.png) 90% center no-repeat; border-left: 1px solid #bbb; border-right: solid 1px #bbb;left: 1px;}
.header-top .header-list2 > a:nth-child(2){border-left: solid 1px #888;}
.header-list .denglu-hover a:hover{ font-weight: bold;}

/*公用下拉框*/
.tablebox{ position:relative;}
.tablebox .tablebox1{ height: 32px; line-height: 32px; border: solid 1px #e5e5e5; text-indent:12px; background:url(../Images/down.jpg) right center no-repeat;cursor:pointer;}
.tablebox .tablebox2{ position:absolute;border:1px solid #e5e5e5;background-color:#fff; left:0px; display:none; z-index:66;}
.tablebox .tablebox2 li{ text-indent:12px; line-height:30px; cursor:pointer;}
.tablebox-w110{ float: left;}
.tablebox1-w110{ width: 110px; }
.tablebox2-w110{ width: 110px; top: 32px;}
.tablebox-w138{float: left; margin-right: 10px;}
.tablebox1-w138{ width: 138px; }
.tablebox2-w138{ width: 138px; top: 32px;}
.tablebox1-w182{ width: 182px; }
.tablebox2-w182{ width: 182px; top: 32px;}
.tablebox1-w270{ width: 270px; }
.tablebox2-w270{ width: 270px; top: 32px;}
.tablebox1-w248{ width: 248px; }
.tablebox2-w248{ width: 248px; top: 32px;}


/*页数*/
.page{ text-align: right; margin-top: 30px;}
.page li{ display: inline-flex; line-height: 22px; margin-left: 7px;font-size: 14px; color: #666; }
.page li a{ display: block; height: 22px; padding:0 7px ; border: solid 1px #e5e5e5; font-size: 14px; color: #666; line-height: 22px;}
.page li > input{ width: 20px; height: 20px; text-align: center; border: solid 1px #e5e5e5; margin: 0 5px;}
.page li a > img{ display: block; margin:7px auto}
.page .current,.page li a:hover{ background: #232684; border: solid 1px #232684; color: #fff;}






/* 投诉 */
.tan-bg{ width: 100%; height: 100%; position:fixed; left:0; background-color:#000; filter:alpha(opacity=60); opacity:0.6; top:0;z-index: 99; display:none;}
.ren-tan{ width:660px; height:540px; position:fixed; top:50%; left:50%; margin-left:-330px; margin-top:-270px; background:#f9f9f9; z-index:999; display:none;}
.tan-con{ margin:30px 30px 0;}
.tan-con .tit h3{ float:left; font-size:24px; color:#464646; font-weight:normal;}
.tan-con .tit b{ float:right; font-size:17px; color:#464646; font-weight:normal; cursor:pointer;}
.tan-con .conter p{ margin-top:10px; font-size:14px; color:#767676;}
.tan-con .conter textarea{ width:585px; height:120px; border:solid 1px #cdcdce; padding:10px; background:#fff; font-size:14px; color:#999; padding:; line-height:22px; margin-top:20px; font-family:'微软雅黑'; margin-bottom:40px;}

.form-item{ margin-bottom:20px;}
.form-item span{ font-size:14px; color:#797979;}
.form-item .txt{ width:260px; height:32px; border:solid 1px #cdcdce; background:#fff; text-indent:8px;}
.tan-con .conter em{ display:block; font-size:14px; color:#999;}
.tan-con .conter .btn{ width:160px; height:40px; background:#252885; font-size:16px; color:#fff; margin-top:40px;}

/* 纠纷 */
.tan-jf{ width: 100%; height: 100%; position:fixed; left:0; background-color:#000; filter:alpha(opacity=60); opacity:0.6; top:0;z-index: 99; display:none;}
.jf-tan{ width:660px; height:540px; position:fixed; top:50%; left:50%; margin-left:-330px; margin-top:-270px; background:#f9f9f9; z-index:999; display:none;}
.tan-con{ margin:30px 30px 0;}
.tan-con .tit h3{ float:left; font-size:24px; color:#464646; font-weight:normal;}
.tan-con .tit b{ float:right; font-size:17px; color:#464646; font-weight:normal; cursor:pointer;}
.tan-con .conter p{ margin-top:10px; font-size:14px; color:#767676;}
.tan-con .conter textarea{ width:585px; height:120px; border:solid 1px #cdcdce; padding:10px; background:#fff; font-size:14px; color:#999; padding:; line-height:22px; margin-top:20px; font-family:'微软雅黑'; margin-bottom:40px;}

.form-item{ margin-bottom:20px;}
.form-item span{ font-size:14px; color:#797979;}
.form-item .txt{ width:260px; height:32px; border:solid 1px #cdcdce; background:#fff; text-indent:8px;}
.tan-con .conter em{ display:block; font-size:14px; color:#999;}
.tan-con .conter .btn{ width:160px; height:40px; background:#252885; font-size:16px; color:#fff; margin-top:40px;}


