{extend name="common/common" /}

{block name="body"}

<div class="HTML-con school-paiming"  style='font-family: 微软雅黑;color: #666;font-size: 12px;'>
    <div class="tit HTML-con" style="color:#ff7c00;font-weight: bold;">院校排名</div>
    <form id="form" name="form" method="post" action="{:url('index')}" autocomplete="off" role="form" class="form-inline">
        <span style="font-family:宋体;color:#B45F04;font-weight:bold;font-size:10.5000pt;">国家：</span>
        <div class="form-group" style="width: 150px">
            <select id="select_country" class="form-control col-md-10 m-2">
                <option value="全部">全部</option>
                <option value="美国">美国</option>
                <option value="英国">英国</option>
            </select>
        </div>

        <span class="order_new" style="font-family:宋体;color:#B45F04;font-weight:bold;font-size:10.5000pt;">&nbsp;QS世界排名：</span>
        <div class="form-group" style="width: 300px">
            <select id="select_qs_low" class="form-control col-md-4 m-2">
                <!-- for循环 -->
                {for start='1' end='141'}
                <option value={$i}>{$i}</option>
                {/for}
            </select>
            <span style="font-family:宋体;color:#000000;font-weight:bold;font-size:10.5000pt;">-</span>
            <select id="select_qs_high" class="form-control col-md-4 m-2">
                <!-- for循环 -->
                {for start='1' end='141'}
                <option value={$i}>{$i}</option>
                {/for}
            </select>
            <span style="font-family:宋体;color:#000000;font-weight:bold;font-size:10.5000pt;">名</span>
        </div>

        <span class="order_new" style="font-family:宋体;color:#B45F04;font-weight:bold;font-size:10.5000pt;">本国排名：</span>
        <div class="form-group" style="width: 300px">
            <select id="select_major_low" class="form-control col-md-4 m-2">
                <!-- for循环 -->
                {for start='1' end='141'}
                <option value={$i}>{$i}</option>
                {/for}
            </select>
            <span style="font-family:宋体;color:#000000;font-weight:bold;font-size:10.5000pt;">-</span>
            <select id="select_major_high" class="form-control col-md-4 m-2">
                <!-- for循环 -->
                {for start='1' end='141'}
                <option value={$i}>{$i}</option>
                {/for}
            </select>
            <span style="font-family:宋体;color:#000000;font-weight:bold;font-size:10.5000pt;">名</span>
        </div>

        <input type="submit" class="btn btn-primary" value="确定">
    </form>

    <div  id='user' style='font-family: 微软雅黑;color: #666;font-size: 12px;'>
        <table width="" border="0" cellpadding="0" cellspacing="0" class="yuanxiao-table">
            <!-- foreach循环 -->
            {foreach name="college" item="value"}
            <tr>
                <td width="550">
                    <a href="{:url('/index/school/detail')}" class="school-img clearfix">
                        <i>
                            <img width="45px;" height="45px;" src="__IMG__/colleges/{$value.icon}" />
                        </i>
                        <div class="txt">
                            <b>{$value.college_name}</b>
                            <span>{$value.college_e_name}</span>
                        </div>
                    </a>
                </td>
                <td width="150">
                    <span>QS世界排名：<em>{$value.world_rank}</em></span>
                    <span>{$value.major_rank_name}：<em>{$value.major_rank}</em></span>
                </td>
                <td width="150">
                    <span>录取率：<em>{if $value.rate !=='--'} {$value.rate}% {else /}暂无 {/if}</em></span>
                    <span>热门专业：<em>{if $value.hot_major !=='--'} {$value.hot_major} {else /}暂无 {/if}</em></span>
                </td>
                <td width="195">
                </td>
                <td width="150">
                    <span>国家：<em>{$value.country}</em></span>
                    <span class="region">地区：<em>{$value.area}</em></span>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

</div>



<script>
    $('form').submit(function () {
        var countryValue=$("#select_country").val();
        var qsLowValue=$("#select_qs_low").val();
        var qsHighValue=$("#select_qs_high").val();
        var majorLowValue=$("#select_major_low").val();
        var majorHighValue=$("#select_major_high").val();

        if(parseInt(qsLowValue)>parseInt(qsHighValue)) {
            layer.msg("请输入正确的QS世界排名顺序");
            return false;
        }
        if(parseInt(majorLowValue)>parseInt(majorHighValue)) {
            layer.msg("请输入正确的本国排名顺序");
            return false;
        }
        setCookie(countryValue,qsLowValue,qsHighValue,majorLowValue,majorHighValue);
        window.location.href="{:url('index')}"+'?country='+countryValue+'&qsLow='+qsLowValue+'&qsHigh='+qsHighValue+'&majorLow='+majorLowValue+'&majorHigh='+majorHighValue;
        return false;
    });
</script>

<script>
    function setCookie(countryValue,qsLowValue,qsHighValue,majorLowValue,majorHighValue){
        $.cookie('country', countryValue);
        $.cookie('qsLow', qsLowValue);
        $.cookie('qsHigh', qsHighValue);
        $.cookie('majorLow', majorLowValue);
        $.cookie('majorHigh', majorHighValue);
    }

    window.onload=function(){
        $("#select_country").val($.cookie('country'));
        $("#select_qs_low").val($.cookie('qsLow'));
        $("#select_qs_high").val($.cookie('qsHigh'));
        $("#select_major_low").val($.cookie('majorLow'));
        $("#select_major_high").val($.cookie('majorHigh'));
    };
</script>

{/block}

