{extend name="common/common" /}

{block name="body"}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="margin-bottom: 20px">
            <form id="form" name="form" method="post" action="{:url('index')}" autocomplete="off" role="form" class="form-inline">
                <span style="font-family:宋体;color:#B45F04;font-weight:bold;font-size:10.5000pt;">国家：</span>
                <div class="form-group" style="width: 150px">
                    <select id="select_country" class="form-control">
                        <option value="全部">全部</option>
                        <option value="美国">美国</option>
                        <option value="英国">英国</option>
                    </select>
                </div>

                <span style="font-family:宋体;color:#B45F04;font-weight:bold;font-size:10.5000pt;">&nbsp;QS世界排名：</span>
                <div class="form-group" style="width: 300px">
                    <select id="select_qs_low" class="form-control">
                        <!-- for循环 -->
                        {for start='1' end='141'}
                        <option value={$i}>{$i}</option>
                        {/for}
                    </select>
                    <span class="glyphicon glyphicon-minus"></span>
                    <select id="select_qs_high" class="form-control">
                        <!-- for循环 -->
                        {for start='1' end='141'}
                        <option value={$i}>{$i}</option>
                        {/for}
                    </select>
                    <span style="font-family:宋体;color:#000000;font-weight:bold;font-size:10.5000pt;">名</span>
                </div>

                <span style="font-family:宋体;color:#B45F04;font-weight:bold;font-size:10.5000pt;">本国排名：</span>
                <div class="form-group" style="width: 300px">
                    <select id="select_major_low" class="form-control">
                        <!-- for循环 -->
                        {for start='1' end='141'}
                        <option value={$i}>{$i}</option>
                        {/for}
                    </select>
                    <span class="glyphicon glyphicon-minus"></span>
                    <select id="select_major_high" class="form-control">
                        <!-- for循环 -->
                        {for start='1' end='141'}
                        <option value={$i}>{$i}</option>
                        {/for}
                    </select>
                    <span style="font-family:宋体;color:#000000;font-weight:bold;font-size:10.5000pt;">名</span>
                </div>

                <button type="submit" class="btn btn-primary" style="width: 122px; float:right">
                    <i class="fa fa-search" aria-hidden="true"></i>&nbsp&nbsp确定</button>
            </form>
        </div>
        <div style='font-family: 微软雅黑;color: #666;font-size: 12px;'>
            <table width="" border="0" cellpadding="0" cellspacing="0" class="yuanxiao-table">
            <!-- foreach循环 -->
            {foreach name="college" item="value"}
            <tr>
                <td width="550">
                    <a href="{:url('/index/school/detail')}" class="school-img clearfix">
                        <i>
                            <img width="45px;" height="45px;" src="__IMG__/colleges/{$value.icon}" />
                        </i>
                        <div class="txt">
                            <b>{$value.college_name}</b>
                            <span>{$value.college_e_name}</span>
                        </div>
                    </a>
                </td>
                <td width="150">
                    <span>QS世界排名：{$value.world_rank}</span>
                    <span>{$value.major_rank_name}：{$value.major_rank}</span>
                </td>
                <td width="150">
                    <span>录取率：{if $value.rate !=='--'} {$value.rate}% {else /}暂无 {/if}</span>
                    <span>热门专业：{if $value.hot_major !=='--'} {$value.hot_major} {else /}暂无 {/if}</span>
                </td>
                <td width="195">
                </td>
                <td width="150">
                    <span>国家：{$value.country}</span>
                    <span class="region">地区：{$value.area}</span>
                </td>
            </tr>
            {/foreach}
        </table>
        </div>
    </div>
</div>

<style>
    .yuanxiao-table{ margin-top: 20px; border-top: solid 1px #e5e5e5;}
    .yuanxiao-table tr td{ border-bottom: solid 1px #e5e5e5; padding:8px 0 28px 0;}
    .yuanxiao-table tr td .school-img { display: block; margin-top: 20px;}
    .yuanxiao-table tr td .school-img i{ display: block; width:213px ; height: 54px; border: solid 1px #f1f1f1; float: left; background: #fff;}
    .yuanxiao-table tr td .school-img i img{ margin: 4px auto; display: block;}
    .yuanxiao-table tr td .school-img .txt{ float: left; margin-left: 10px;}
    .yuanxiao-table tr td .school-img .txt b{ font-size: 16px; color: #333; display: block; margin-top: 4px;}
    .yuanxiao-table tr td .school-img .txt span{ font-family: 'Arial'; margin-top: 12px; display: block;}
    .yuanxiao-table tr td span{ display: block; color: #666; margin-top: 20px;}
    .yuanxiao-table tr td span em{ color: #333;}
    .yuanxiao-table tr td:first-child .school-img{ margin-left: 10px;}
    span.region{ position: relative; cursor: pointer;}
    span.region img{ position: absolute; width: 200px; height: 270px; top: -275px; right: 6px; display: none;}
    span.region:hover img{ display: block;}
    .yuanxiao-table tr:hover td{ background: #f2f9ff}
    .yuanxiao-table tr td.no span{ display: none;}
</style>

<script>
    $('form').submit(function () {
        var countryValue=$("#select_country").val();
        var qsLowValue=$("#select_qs_low").val();
        var qsHighValue=$("#select_qs_high").val();
        var majorLowValue=$("#select_major_low").val();
        var majorHighValue=$("#select_major_high").val();

        if(parseInt(qsLowValue)>parseInt(qsHighValue)) {
            layer.msg("请输入正确的QS世界排名顺序");
            return false;
        }
        if(parseInt(majorLowValue)>parseInt(majorHighValue)) {
            layer.msg("请输入正确的本国排名顺序");
            return false;
        }
        setCookie(countryValue,qsLowValue,qsHighValue,majorLowValue,majorHighValue);
        window.location.href="{:url('index')}"+'?country='+countryValue+'&qsLow='+qsLowValue+'&qsHigh='+qsHighValue+'&majorLow='+majorLowValue+'&majorHigh='+majorHighValue;
        return false;
    });
</script>

<script>
    function setCookie(countryValue,qsLowValue,qsHighValue,majorLowValue,majorHighValue){
        $.cookie('country', countryValue);
        $.cookie('qsLow', qsLowValue);
        $.cookie('qsHigh', qsHighValue);
        $.cookie('majorLow', majorLowValue);
        $.cookie('majorHigh', majorHighValue);
    }

    window.onload=function(){
        if($.cookie('country')!=null){
            $("#select_country").val($.cookie('country'));
        }else{
            $("#select_country").val("全部");
        }
        if($.cookie('qsLow')!=null){
            $("#select_qs_low").val($.cookie('qsLow'));
        }else{
            $("#select_qs_low").val("1");
        }
        if($.cookie('qsHigh')!=null){
            $("#select_qs_high").val($.cookie('qsHigh'));
        }else{
            $("#select_qs_high").val("140");
        }
        if($.cookie('majorLow')!=null){
            $("#select_major_low").val($.cookie('majorLow'));
        }else{
            $("#select_major_low").val("1");
        }
        if($.cookie('majorHigh')!=null){
            $("#select_major_high").val($.cookie('majorHigh'));
        }else{
            $("#select_major_high").val("140");
        }
    };
</script>

{/block}

