{extend name="common/common" /}

{block name="body"}

<link rel="stylesheet" type="text/css" href="__CSS__/college.css">

<div class="container">
    <div class="row clearfix">
        <div style='font-family: 微软雅黑;color: #666;font-size: 12px;'>
            <table width="" border="0" cellpadding="0" cellspacing="0" class="yuanxiao-table">
                <!-- foreach循环 -->
                {foreach name="college" item="value"}
                <tr>
                    <td width="550">
                        <a href="{:url('/index/school/detail')}" class="school-img clearfix">
                            <i>
                                <img width="45px;" height="45px;" src="__IMG__/colleges/{$value.icon}" />
                            </i>
                            <div class="txt">
                                <b>{$value.college_name}</b>
                                <span>{$value.college_e_name}</span>
                            </div>
                        </a>
                    </td>
                    <td width="150">
                        <span>QS世界排名：{$value.world_rank}</span>
                        <span>{$value.major_rank_name}：{$value.major_rank}</span>
                    </td>
                    <td width="150">
                        <span>录取率：{if $value.rate !=='--'} {$value.rate}% {else /}暂无 {/if}</span>
                        <span>热门专业：{if $value.hot_major !=='--'} {$value.hot_major} {else /}暂无 {/if}</span>
                    </td>
                    <td width="195">
                    </td>
                    <td width="150">
                        <span>国家：{$value.country}</span>
                        <span class="region">地区：{$value.area}</span>
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
</div>

{/block}