<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="WFT,留学,免费,出国申请" />
    <meta name="description" content="WFT" />

    <link rel="stylesheet" type="text/css" href="__CSS__/common.css" />

    <script src="__JS__/jquery-3.3.1.min.js"></script>
    <script src="__JS__/nav.js"></script>
    <script src="__JS__/koala.min.1.5.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>

    {block name="title"}
        <title>未定义</title>
    {/block}
</head>
<body>
{include file="common/header-top"/}

{include file="common/header"/}

{include file="common/header-nav"/}

{block name="body"}
    此处输入正文
{/block}

{include file="common/footer"/}

</body>
</html>