<!--页脚-->
<div class="container" style="width:100%">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/GitHub.jpg" class="rounded-circle" width=140 height=140 />
                </div>
                <div class="col-md-6 column">
                    <h5 style="color:#FF8000">GitHub</h5>
                    <a href="https://github.com/BugAngel/WFT" target="_blank"><h5>BugAngel</h5></a><br>
                    <h5>看见就给个星呗</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/qq.jpg"width=140 height=140 />
                </div>
                <div class="col-md-6 column">
                    <h5 style="color:#FF8000">QQ二维码</h5>
                    <h5>编程不易，赠我红包，手有余香</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/weixin.jpg"width=140 height=140 />
                </div>
                <div class="col-md-6 column">
                    <h5 style="color:#FF8000">微信二维码</h5>
                    <h5>编程不易，赠我红包，手有余香</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/help.png" width=140 height=140 />
                </div>
                <div class="col-md-6 column">
                    <a href="__PUBLIC__/index.php/index/help/method"><h4>使用方法</h4></a>
                    <a href="__PUBLIC__/index.php/index/help/about"><h4>关于我们</h4></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix " style="font-family: 微软雅黑; background: black; color:white;font-size: 14px; text-align:center; " >
        <div class="col-md-12 column" >
            <span class="label label-default">Copyright@BugAngel</span>
        </div>
    </div>
</div>