<!--页脚-->
<div class="footer">
    <div class="footer-top">
        <div class="HTML-con clearfix">
            <div class="lx fl">
                <b>GitHub</b>
                <b><a href="https://github.com/BugAngel/WFT" target="_blank">BugAngel</a></b>
                <span>看见了就给个星呗</span>
            </div>
            <dl class="erweima fl">
                <dt><img src="__IMG__/qq.png" width=85 height=85 /></dt>
                <dd>
                    <h3>QQ二维码</h3>
                    <span>编程不易，赠我红包，手有余香</span>
                </dd>
            </dl>
            <dl class="erweima fl">
                <dt><img src="__IMG__/weixin.png"width=85 height=85 /></dt>
                <dd>
                    <h3>微信二维码</h3>
                    <span>编程不易，赠我红包，手有余香</span>
                </dd>
            </dl>
            <dl class="erweima fr xinjiade">
                <dt><img src="__IMG__/help.png" width=85 height=85 /></dt>
                <dd>
                    <a href="__PUBLIC__/index.php/index/help/method"><h3>使用方法</h3></a>
                    <a href="__PUBLIC__/index.php/index/help/about"><h3>关于我们</h3></a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="HTML-con">
            <p>Copyright@BugAngel </p>
        </div>
    </div>
</div>