<!--页脚-->
<div class="container">
    <div class="row clearfix" style="width: 1200px;margin-bottom: 20px; margin-top: 20px">
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/GitHub.jpg" class="rounded-circle" width=140 height=140/>
                </div>
                <div class="col-md-6 column">
                    <h4 style="color:#FF8000">GitHub</h4>
                    <h4>Star一下-></h4>
                    <a href="https://github.com/BugAngel/WFT" target="_blank"><h4>BugAngel</h4></a><br>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/qq.jpg" width=140 height=140/>
                </div>
                <div class="col-md-6 column">
                    <h4 style="color:#FF8000">QQ二维码</h4>
                    <h3 style="font-family: 楷体">编程不易，赠我红包，手有余香</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/weixin.jpg" width=140 height=140/>
                </div>
                <div class="col-md-6 column">
                    <h4 style="color:#FF8000">微信二维码</h4>
                    <h3 style="font-family: 楷体">编程不易，赠我红包，手有余香</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <img src="__IMG__/help.png" width=140 height=140/>
                </div>
                <div class="col-md-6 column">
                    <a href="__PUBLIC__/index.php/index/help/method"><h3>使用方法</h3></a>
                    <a href="__PUBLIC__/index.php/index/help/about"><h3>关于我们</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix " style="height:20px; font-family: 楷体; background: darkgreen; color:white;font-size: 16px; text-align:center;">
    <div class="container">
        <div class="col-md-12 column">
            <span>Copyright@BugAngel</span>
        </div>
    </div>
</div>