<div style="height:52px; font-family: 楷体; font-size: 20px; background: black">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="__PUBLIC__/index.php/index/login_or_register/login">登录</a>
                            </li>
                            <li>
                                <a href="__PUBLIC__/index.php/index/login_or_register/register">注册</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#myModal">投诉</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>

<!-- 投诉框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    我要投诉<br>
                    <small>亲爱的用户，欢迎在下方填写您遇到的问题或意见建议。</small>
                </h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="7" placeholder="详尽的描述问题更有利于我们为您解答哦~"></textarea>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="您的邮箱地址">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="您的手机号">
                </div>
                <em>留下其中一个联系方式，更方便我们联系您</em>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(function () {
        $("#btnfon").click(function () {
            var tsnr = $("textarea[name='tsnr']").val();
            var email = $("input[name='email']").val();
            var phone = $("input[name='phone']").val();
            var pattern = /^1[34578]\d{9}$/;
            var isphone = pattern.test(phone);
            if (!isphone) {
                layer.msg('请输入正确的手机号码');
                return false;
            }
            var re = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            var a = re.test(email);
            if (!a) {
                layer.msg('邮箱格式不正确！');
                return false;
            }
            //开始发送数据
            $.ajax
            ({ //请求登录处理页
                url: "{:url('checkLogin')}", //登录处理页
                type: "POST",
                //传送请求数据
                data: {tsnr: tsnr, email: email, phone: phone},
                success: function (fstart) { //登录成功后返回的数据
                    //根据返回值进行状态显示
                    if (fstart === "1") {
                        layer.msg('投诉成功，谢谢您的意见建议！');
                    } else if (fstart === "3") {
                        layer.msg('您尚未登录，请先登录！');
                        location.href = "/index.php/public/login.html";
                    }
                    else {
                        layer.msg('服务器繁忙，稍后再试！');
                    }
                }
            })
        })
    })

</script>

<script type="text/javascript">
    $(function () {
        $("#quit").click(function () {
            $.ajax
            ({ //请求登录处理页
                url: "/index.php/public/quit.html",
                type: "POST",
                //传送请求数据
                // data: { account: account, password: password,verify: verify },
                success: function (strValue) { //登录成功后返回的数据
                    //alert(strValue);
                    //根据返回值进行状态显示
                    if (strValue == "1") {
                        alert('退出成功！');
                        location.href = "__PUBLIC__/index.php";
                    }
                }
            })
        })
    })
</script>